body {
    background-image: url();
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para o cabeçalho */
#header {
    background-color: #f01578; /* Cor de fundo rosa escuro */
    color: white;
    text-align: center;
    padding: 30px;
}

/* Estilos para a caixa de boas-vindas */
#caixa-bem-vindo {
    background-color: #ffd1dc; /* Cor de fundo rosa claro */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}

/* Estilos para o formulário de cadastro */
#tela-cadastro {
    background-color: #fff; /* Cor de fundo branco */
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}
#tela-cadastro input,
#tela-cadastro select,
#tela-cadastro textarea {
    margin-bottom: 15px; 
    width: 100%;
    box-sizing: border-box;
}

/* Estilos para o rodapé */
footer {
    background-color: #000000f1; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o conteúdo */
}

/* Estilos para o cartão de produto */
.card {
    position: relative;
    width: 1312px;
    height: 50px; /* Ajuste a altura conforme necessário */
    background-color: rgb(238, 30, 64); 
    border-radius: 10px;
    color: white;
    padding: 20px;
    display: flex;
    text-align: center;   
    align-items: center;
}

.search-container{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.search-input{
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.search-button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

.logo-container {
    flex: 1;
    text-align: center;
    margin-left: 20px;
}

.icons-container {
    display: flex;
    align-items: center;
}

.fa-shopping-cart,
.fa-heart {
    font-size: 24px; /* Define o tamanho dos ícones */
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.fa-heart:hover, 
.fa-shopping-cart:hover {
    color: lightgrey;
}
button{
    padding: 8px 15px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #0056b3;
}

button.editar {
    background-color: #28a745;
}

button.excluir {
    background-color: #dc3545;
    margin-left: 5px;
}
.imagem-produto{
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
}
/* Estilos para a lista de produtos */
.lista-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.nome-produto{
    color: #ff5733;
    margin-bottom: 10px;
}